<div class="py-10 px-15 min-h-screen bg-linear-to-br from-[#2b054f] via-[#5f0e55] to-[#e70d6e] text-white">
    <h2 class="font-bold text-3xl pb-3">About Our Company:</h2>
    <p class="w-2/3">We are a modern and passionate company focused on building simple, reliable, and high-quality
        digital solutions.

        Our goal is to help people and businesses solve real problems using technology, creativity, and clear design. We
        believe that good software should be easy to use, fast, and useful.</p>

    <ul class="my-12 list-disc list-inside">
        <h3 class="font-bold text-lg">We care about:</h3>
        <li>Writing clean and organized code</li>
        <li>Delivering work on time</li>
        <li>Continuous learning and improvement</li>
        <li>Building trust with our users</li>
    </ul>

    <p class="w-3/4">Our team is always learning new technologies to stay up to date and provide the best possible results. We believe
        that success comes from hard work, honesty, and teamwork.

        Thank you for trusting us.
        We are excited to grow and build the future together 🚀</p>
</div>