.container {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  height: 100vh;


  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  background: linear-gradient(135deg, #e0f2fe, #f8fafc);
}