.Header{
    position: relative;
    background-image: url("./assets/header.jpeg");
    height: 300px;
    background-size: cover;
}

body{
    position: relative;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header h1{
    line-height: 37vh;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
    margin: 0;
}


.body_section{
    background-color: rgba(192, 192, 192, 0.33);
    padding: 10px 0 10px;
}

.about_me{
    width : 60%;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.about_me h2{
    text-align: center;
}

.skills{
    margin-top: 50px;
}

.skills h2{
    text-align: center;
}

.skills ul{
    margin: 0px 300px;
    padding-left: 15px;
    box-sizing: border-box;
}

.projects{
    margin-top: 50px;
    text-align: center;
}

.projects table{
    width: 100%;
    padding: 0 300px;
}

.projects table thead{
    background-color: lightskyblue;
}

.projects table tbody{
    background-color: white;
}

.contact_me{
    margin-top: 50px;
    text-align: center;
}

.contact_me a{
    margin: 10px ;
    display: inline-block;
    color: white;
    padding: 10px;
    border: 1px solid blue;
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
}

.contact_me a:hover{
    background-color: rgb(108, 171, 234);

}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
}