<div class="py-10 px-15 min-h-screen bg-linear-to-br from-[#2b054f] via-[#5f0e55] to-[#e70d6e] text-white">
    <h2 class="font-bold text-3xl pb-3">Welcome to Our Company</h2>
    <p class="w-2/3">
        We build modern, simple, and reliable digital solutions that help people and businesses achieve their goals.
    </p>
    <div class="w-2/3 py-5">
        <img class="w-full h-100 object-cover rounded-xl shadow-lg" src="images/lycs-architecture-U2BI3GMnSSE-unsplash.jpg" alt="">
    </div>
</div>

