<h1 class="text-danger bg-warning rounded-5 text-center mx-auto">Access Denied</h1>

<hr/>

<div class="mx-auto text-center">
    <a asp-action="Index" asp-controller="Home" class="btn-outline-primary">Back to Home</a>
</div>