     @model ECommerce.BLL.LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center">
    <h2 class="text-success">LogIn</h2>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Eamil" class="control-label"></label>
                <input asp-for="Eamil" class="form-control" />
                <span asp-validation-for="Eamil" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RemeberMe" /> @Html.DisplayNameFor(model => model.RemeberMe)
                </label>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="LogIn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
