<div class="grid justify-center grid-cols-[repeat(auto-fit,minmax(400px,400px))] gap-10 bg-slate-100 p-5">
    @for (item of products(); track item.id) {
    <app-product [product]="item"></app-product>
    }
</div>

<button [routerLinkActiveOptions]="{exact:true}" routerLinkActive="" routerLink="/products/creation" class="fixed bottom-8 right-8
         w-16 h-16
         bg-blue-600 text-white
         text-4xl leading-none
         rounded-full shadow-lg
         hover:bg-blue-700
         focus:outline-none focus:ring-4 focus:ring-blue-500
         flex items-center justify-center
         cursor-pointer pb-1">
    +
</button>