<div class="flex justify-between items-center py-5 px-8 bg-[#2b054f] text-[#f5832c]">
    <div class="w-20">
        <img class="" src="/images/logo.png" alt="">
    </div>

    <ul class="flex gap-10 justify-center text-lg font-semibold">
        <li><a class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link"
                routerLink="/">Home</a></li>
        <li><a class="nav-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link"
                routerLink="/users">Users</a></li>
        <li><a class="nav-item" routerLinkActive="active-link" routerLink="/about">About</a></li>
    </ul>

    <button
        class="bg-[#83165b] px-5 py-3 rounded-2xl text-white font-bold hover:scale-105 hover:cursor-pointer active:scale-90">Login</button>
</div>