<div
    class="py-10 px-15 min-h-screen bg-linear-to-br from-[#2b054f] via-[#5f0e55] to-[#e70d6e] text-white flex flex-col gap-5 items-center">
    <div class="py-3 px-5 w-1/4 bg-[#fbaa6c57] rounded-2xl">
        <div>Name: Mohanad</div>
        <div>Email: <a class="underline" href="users/1">Mohanad@gmail.com</a></div>
    </div>
    <div class="py-3 px-5 w-1/4 bg-[#fbaa6c57] rounded-2xl">    
        <div>Name: Ahmed</div>
        <div>Email: <a class="underline" href="users/2">Ahmed@gmail.com</a></div>
    </div>
    <div class="py-3 px-5 w-1/4 bg-[#fbaa6c57] rounded-2xl">
        <div>Name: Yassen</div>
        <div>Email: <a class="underline" href="users/3">Yassen@gmail.com</a></div>
    </div>
    <div class="py-3 px-5 w-1/4 bg-[#fbaa6c57] rounded-2xl">
        <div>Name: Rahma</div>
        <div>Email: <a class="underline" href="users/4">Rahma@gmail.com</a></div>
    </div>
    <div class="py-3 px-5 w-1/4 bg-[#fbaa6c57] rounded-2xl">
        <div>Name: Aya</div>
        <div>Email: <a class="underline" href="users/5">Aya@gmail.com</a></div>
    </div>
</div>