*{
    transition: all 0.3s ease;
}

body{
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "header header"
                        "sidebar product"
                        "footer footer";
}

.header{
    grid-area: header;
    background-color: #39455d;
    padding: 0 20px;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1.5px;
}

.header button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #40baf7;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.header button:hover{
    cursor: pointer;
    background-color: #007dbc;
    transform: scale(1.05);
}

.sidebar{
    grid-area: sidebar;
    background-color: #f1f4f9;
}

.sidebar ul{
    color: black;
    list-style: none;
    padding: 0 15px;
    text-align: left;
    line-height: 3.2;
}

.sidebar ul li{
    background-color: #e1e8f0;
    padding: 0 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.sidebar ul li:hover{
    background-color: #c7d0db;
    cursor: pointer;
}

.product-section{
    grid-area: product;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    gap: 16px;
    justify-content: center;
    padding: 40px;
}

.product-item{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.product-item:hover{
    transform: translateY(-8px);
    box-shadow: 0 24px 30px rgba(0,0,0,0.2);
}

.product-img{
    width: 100%;
    max-height: 50%;
    min-height: 50%;
    border-radius: 10px 10px 0 0;
}

.product-item .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .product-info{
    padding: 0 10px;
}

.product-item h2{
    margin: 10px 0 5px;
}

.product-item p{
    color: #555;
    line-height: 1.5;
    font-size: 14px;
}

.product-item .product-button{
    padding: 10px 0;
    margin: 0 20px;
    background-color: #0ea6e9;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.product-item .product-button:hover{
    padding: 12px 2px;
    background-color: #007dbc;
    cursor: pointer;
}

.footer{
    grid-area: footer;
    background-color: #39455d;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

@media screen and (max-width: 500px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                            "sidebar"
                            "product"
                            "footer";
    }

    .sidebar ul{
        display: flex;
        gap: 7px;
    }
}