@model ProductCreateVM

<form asp-action="Create" asp-controller="Product" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row py-1">
        <div class="col">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Product Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select" required></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="row py-1">
        <div class="col">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
    </div>

    <div class="row py-1">
        <div class="col">
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" class="form-control" placeholder="Product Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Count" class="form-label"></label>
            <input asp-for="Count" class="form-control" placeholder="Product Count">
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ExpiryDate" class="form-label"></label>
            <input asp-for="ExpiryDate" class="form-control" placeholder="Expiry Date">
            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-success px-4">
            Create Product
        </button>

        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary px-4">
            Cancel
        </a>
    </div>

</form>