body{
    margin: 0;
    padding: 0;
}

*{
    transition: all 0.3s ease;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                        "lSidebar blog rSidebar"
                        "footer footer footer";
    gap: 24px;
}

.header{
    grid-area: header;
    background-color: #39455d;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    color: white;
}

.left-sidebar{
    grid-area: lSidebar;
    background-color: #4ecdc4;
}

.left-sidebar ul{
    color: white;
    list-style: none;
    padding: 15px;
    text-align: left;
    line-height: 2.4;
}

.right-sidebar{
    grid-area: rSidebar;
    background-color: #1a535c;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.right-sidebar p{
    font-size: 12px;
    line-height: 1.6;
}

.blog-section{
    grid-area: blog;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 16px;
}

.blog-item{
    border-radius: 10px;
    padding: 5px 10px;
}

.blog-item:hover{
    transform: translateY(-8px);
    box-shadow: 0 24px 30px rgba(0,0,0,0.2);
}

.odd-items{
    background-color: #ff6b6b;
}

.even-items{
    background-color: #ffe76d;
}

.footer{
    grid-area: footer;
    background-color: #39455d;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

@media screen and (max-width: 700px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                            "lSidebar"
                            "blog"
                            "rSidebar"
                            "footer";
        gap: 24px;
    }
}