.slideshow-card {
    background: white;
    box-sizing: border-box;
    padding: 15px 25px;
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.slideshow-card h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;

  background: linear-gradient(135deg, #125491, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.img-container {
    width: 800px;
    height: 350px;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 1s ease, opacity 0.4s ease;
}

.img-container img:hover {
  transform: scale(1.03);
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

button {
  padding: 12px 24px;
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  border: none;
  border-radius: 999px;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.35);
  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.45);
}

button:active {
  transform: scale(0.96);
}
